[user]
	name = Fredrik Andersson
	email = fredrik@kondensator.se
[core]
	excludesfile = ${HOME}/.gitignore_global
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
